$color-success: rgb(10, 231, 95);
$color-danger: rgb(233, 34, 7);



   .text {
       font-size: 1.5rem;
       color: rgb(63, 62, 62);

       &.correct {
           background: $color-success;
       }

       &.incorrect {
           color: $color-danger;
           font-size: bolder;
       }

       &:first-child {
           border-top-left-radius: 5px;
           border-bottom-left-radius: 5px;
           padding-left: 10px;
       }

       &.current-word {
           border-top-right-radius: 5px;
           border-bottom-right-radius: 5px;
       }

   }
            
    
